<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- Webpage Title -->
    <title>1페이지 홈쇼핑</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap" rel="stylesheet">
    <!--Custom CSS-->
    <link rel="stylesheet" type="text/css" href="../static/decorate.css"/>

    <script>
        function order_complete() {
            let name = $("#customerName").val();
            let addr = $("#customerAddress").val();
            let phone = $("#customerPhone").val();
            //let count = $("#inputGroupSelect01 option:selected").val();

            if (name == "") {
                alert("주문자 성함을 입력해주세요.");
            } else if (addr == "") {
                alert("주소를 입력해주세요.");
            } else if (phone == "") {
                alert("핸드폰 번호를 입력해주세요.")
            } //else if (count == "") {
                // alert("수량이 입력해주세요.");
            // }
            else {
                $.ajax({
                    type: "POST",
                    url: "/order",
                    data: {
                        "name_give": name,
                        "addr_give": addr,
                        "phone_give": phone,
                        // "count_give": count
                    },
                    success: function (response) {
                        if (response["result"] == "success") {
                            alert(response["msg"]);
                            window.location.reload();
                        } else {
                            alert("처리중 오류가 발생했습니다. 1분후 다시 시도해주세요.");
                        }
                    }
                });
                // 주문 완료 후 폼 초기화
                // $("#customerName").val('');
                // $("#customerAddress").val('');
                // $("#customerPhone").val('');
                // $("#inputGroupSelect01").val('');

                //     function checkPhone(number) {
                //         var regPhone = /010[-]\d{4}[-]\d{4}$/g;
                //         return regPhone.test(number);
                //     }
                // }

            }
        }

        $(document).ready(function () {
            $('#dwrate').empty()
            $.ajax({
                type: "GET",
                url: "https://api.manana.kr/exchange/rate.json",
                data: {},
                success: function (response) {
                    let check = response[1]["rate"]
                    let addrate = `<h6>달러-원 환율 : ${check}</h6>`
                    $('#dwrate').append(addrate);
                }
            })
            $("#addOrders").empty();
            $.ajax({
                type: "GET",
                url: "/order",
                data: {},
                success: function (response) {
                    if (response["result"] == "success") {
                        let data = response['data']
                        for (let i = 0; data.length; i++) {
                            let custNameOrder = data[i]["name"];
                            let custAddrOrder = data[i]["address"];
                            let custPhoneOrder = data[i]["phone"];

                            let addData = `
                                          <tr>
                                            <td>${custNameOrder}</td>
                                            <td>${custAddrOrder}</td>
                                            <td>${custPhoneOrder}</td>
                                           </tr>
                                            `;
                            $("#addOrders").append(addData);

                        }
                    }

                }
            })

        });


    </script>
</head>
<body>
<!--entire site attribute-->
<div class="wrap">

    <!--image-->
    <div class="form_desgin">
        <img src="../static/ipadpro.jpg" class="image_design" alt="ipad"/>
    </div>

    <!--description-->
    <div class="form_desgin">
        <h1>iPad Pro (12.9) Gen1 128GB Cellular</h1>
        <h3>가격: 499,000원</h3>
        <h6>리퍼 아이패드 프로 1세대 12.9 입니다. 동영상 편집이나 프로그래밍에는 맞지 않지만, 넷플릭스 머신이나 인터넷 서핑용, 수업 필기용으로 적당합니다. 사은품으로 애플펜슬(1세대)를 함께
            드립니다. </h6>
    </div>

    <!--order form-->
    <div class="form_desgin">

        <!--doller-won rate-->
        <div class="emphasize" id="dwrate">
        </div>

        <!--order form main information-->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">주문자 성함: </span>
            </div>
            <input id="customerName" type="text" class="form-control" aria-label="Default"
                   aria-describedby="inputGroup-sizing-default">
        </div>

        <!--        <div class="input-group mb-3">-->
        <!--            <div class="input-group-prepend">-->
        <!--                <label class="input-group-text" for="inputGroupSelect01">수량: </label>-->
        <!--            </div>-->
        <!--            <select class="custom-select" id="inputGroupSelect01">-->
        <!--                <option selected></option>-->
        <!--                <option value="1">1개</option>-->
        <!--                <option value="2">2개</option>-->
        <!--                <option value="3">3개</option>-->
        <!--            </select>-->
        <!--        </div>-->

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">주소: </span>
            </div>
            <input id="customerAddress" type="text" class="form-control" aria-label="Default"
                   aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">전화번호: </span>
            </div>
            <input id="customerPhone" type="text" class="form-control" aria-label="Default"
                   aria-describedby="inputGroup-sizing-default">
        </div>

        <button onclick="order_complete()" type="button" class="center btn btn-outline-secondary">주문하기</button>

    </div>

    <!--order list-->
    <div class="form_desgin">
        <table class="table">
            <thead>
            <tr style="text-align: center">
                <th scope="col">주문자 성함</th>
                <th scope="col">주소</th>
                <th scope="col">전화번호</th>
            </tr>
            </thead>
            <tbody id="addOrders" style="text-align: center">
            </tbody>
        </table>
    </div>

</div>

</body>

</html>