<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- Webpage Title -->
    <title>영화 순위</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Crimson+Pro">
    <!--Custom CSS-->
    <link rel="stylesheet" type="text/css" href="../static/style.css"/>

    <script>
        $(document).ready(function () {
            $('#list_movieranking').html('');
            $.ajax({
                type: "GET",
                url: "/api/list",
                data: {},
                success: function (response) {
                    if (response["result"] == "success") {
                        let data = response['data']
                        for (let i = 0; data.length; i++) {
                            let movie_title = data[i]["title"];
                            let movie_img_url = data[i]["image_url"];
                            let movie_year = data[i]["year"];
                            let movie_url = data[i]["url"];
                            let movie_like = data[i]["like"];

                            let addList = `
                            <li>
          <a href=${movie_url}>
              <img class="card-img-top" src=${movie_img_url} alt="Card image cap">
              </a>
               <div class="card-body">
                         <h5 class="card-title">${movie_title}</h5>
                 <a href="#" onclick="likeup('${movie_title}')" class="card-footer-item has-text-info">
                 <img alt="heart" src="../static/heart.jpg" width="30" height="30"/>
                 ${movie_like}
                 </a>
                 <div class="txt_tump">
                <span class="txt_info">
                      개봉
                <span class="txt_num">${movie_year}</span>
               </div>
                    </span>
                </div>
          </li>`;
                            $("#list_movieranking").append(addList);
                        }
                    }
                }
            })
        });
   function likeup(name) {
            // 1. 서버에 1) POST 방식으로,
            // 2) /api/like 라는 url에, 3) name_give라는 이름으로 name을 전달합니다.
            // 참고) POST 방식이므로 data: {'name_give': name} 과 같은 양식이 되어야합니다!
            $.ajax({
                type: "POST",
                url: "/api/like",
                data: {'title_give': name},
                success: function (response) {
                    if (response['result'] == 'success') {
                        // 2. '좋아요 완료!' 얼럿을 띄웁니다.
                        // alert('좋아요 완료!')
                        // 3. 변경된 정보를 반영하기 위해 새로고침합니다. 중요!
                        window.location.reload()
                    }
                }
            });
        }


    </script>
</head>

<body>
<div class="wrap">
    <h1> 랭킹 </h1>
    <h3> 영화 순위 </h3>
    <hr/>
    <div id="cards-info">
        <ol id="list_movieranking">
            <li>
                <img class="card-img-top" src=${movie_img_url} alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">${movie_title}</h5>
                    <span class="txt_info">
                        개봉
                        <span class="txt_num">${movie_year}</span>
                    </span>
                </div>
            </li>
        </ol>
    </div>
</div>
</body>

</html>